{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Text Summarizer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'summarize.css' %}">
{% endblock %}    

{% block content %}
    <h1>Text Summarizer</h1>
    <form method="post">
      {% csrf_token %}
      <label for="text">Enter text to summarize:</label><br>
      <textarea name="text" rows="10" cols="50"></textarea><br>
      <input type="submit" value="Summarize">
    </form> 
    <div class="summary">
      <h1>{{ title }}</h1>
       {{summary}}
    </div> 
  </form>
{% endblock %}